.button-category{
  width: 100%;
  background-color: #e4e4e4;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  border: 1px solid #d6d1d1;
  margin-bottom: 10px;
  font-weight: 700;
  transition: background-color 1s;
  margin-left: 10px;
  &:hover{
    background-color:#98377F;
    opacity: 0.8;
  }
}
.general-btn{
  border:0;
  background: #CC729F;
  padding: 12px 12px;
  border-radius: 20px;
  color: #777777;
  font-size: 1em;
  color:white;
  font-size: 1em;
  &:hover{
  background-color: #a1577c;
  color:white;
  }
}
.active-category{
  background-color:#C14B85!important;
  color:black;
}

.row #buttons{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
}

.add-slide-btn{
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid #C14B85;
  border-radius: 20px;
  padding: 10px 20px;
  color: grey;
  &:hover{
    background-color: #C14B85;
    color:white;
    text-decoration: none;
  }
}
.add-slide-btn:focus{
  text-decoration: none;
}
.add-slide-btn-ml{
  margin-left: 68px;
}
.text-btn{
    font-size:14px;
  }
@media only screen and (max-width: 991px)  {
  .text-btn{
    font-size:12px;
  }
}
@media only screen and (max-width: 991px)  {
  .button-category{
    text-decoration: none;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius:20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    border: 1px solid #d6d1d1;
    margin-top: -1px;
    font-weight: 700;
    transition: background-color 1s;
    margin-left:0;
    &:hover{
      color:black;
      text-decoration: none;
      background-color:#dad7d7;
      opacity: 0.8;
    }
  }
  .row #buttons {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 765px)  {
  .add-button-container{
    display: flex;
    justify-content: center;
  }
  .add-slide-btn-ml {
    margin-left: 0;
  }
}

@media only screen and (max-width: 575px)  {
  .text-btn{
    font-size:11px;
  }
  .add-slide-btn{
    font-size:12px;
  }

  .add-slide-btn{
    margin-left: 0px;
  }
}
@media only screen and (max-width: 360px)  {
  .text-btn{
    font-size:6px;
  }
  .add-slide-btn{
    font-size:8px;
  }
}

