@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
// ------------navbar------------------
.navbar{
  border-bottom: 1px solid #C14B85;
  position: fixed;
  background-color: white;
}
.navbar-brand{
  font-family: 'Staatliches', cursive;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.text-logo{
  color:#636262;
  font-size: 1.5em;
  transition: color .7s;
  &:hover{
    color:#383636;
  }
}
// ------------caroussel------------------
body {
  background: #ebebeb;
}
h2 {
  color: #696969;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin: 40px 70px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
h2::after {
  content: "";
    width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 1px;
    border-radius: 1px;
    background: #d4d4d4;
    left: 0;
    right: 0;
    bottom: 14px;
}
h2 span {
  display: inline-block;
  padding: 0 25px;
  background:#ebebeb;
  position:relative;
  z-index:2;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 30px auto 50px;
  padding: 0 68px;
}
.carousel .item {
    text-align: center;
  overflow: hidden;
    height: 50%;
}
.carousel .item .row,.box-col{
  height: 100%;
}
.carousel .item .img-box {
  background: #fff;
  padding: 9px;
  box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
  height:100%;
  position: relative;
  transition: filter 1s;
}
.carousel .item img {
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}
.carousel .carousel-control {
  width: 68px;
  background: none;
}
.carousel .carousel-control i {
    font-size: 28px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
  color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px 4px;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
}
.carousel-indicators li.active {
  background: #555;
}
.hide{
  display:none;
}

// ------------content------------------
.body-content{
  margin-top: 90px;
}

.color-purple{
  color:#C14B85;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.font-12{
  font-size: 12px;
}
.play-duration{
  opacity: 0;
}
.img-box:hover .play-duration{
  opacity: 1;
  transition: opacity 1s;
}
.img-box:hover img{
  filter: blur(2px);
}

.centered-axis-x {
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
}
.play-duration{
  position: absolute;
  color: white;
  font-weight:bolder;
  font-size:2em;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px 7px;
}
.title{
  text-align: left;
  font-weight: 700;
  padding: 10px 0px 5px 4px;
}
.title:first-letter {
    text-transform:capitalize;
}
// -------------buttons----------
.button-category{
  width: 100%;
  background-color: #e4e4e4;
  padding: 52px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  border: 1px solid #d6d1d1;
  margin-top: -1px;
  font-weight: 300;
  transition: background-color 1s;
  &:hover{
    color:#98377F;
    background-color:#dad7d7;
    opacity: 0.8;
  }
}
.active-category{
  color:#C14B85;
}

.row #buttons{
  padding-left: 0px;
  margin-top: 50px;
}
#buttons div:first-child{
  border-radius: 0 10px 0 0;
}
#buttons div:last-child{
  border-radius: 0 0 10px 0;
}

.add-slide-btn{
  display: flex;
  align-items: center;
  margin-left: 68px;
  background-color: #C14B85;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  border: 0;
  opacity: 0.7;
  transition: opacity .6s;
  &:hover{
    opacity: 1;
  }
}
.tot-duration{
  margin-right: 68px;
}
