@import "_navbar.scss";
@import "_carousel.scss";
@import "_main-content.scss";
@import "_buttons.scss";

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.hide{
  display:none;
}
