.body-content{
  margin-top: 90px;
}

.color-purple{
  color:#C14B85;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.play-duration{
  opacity: 0;
}
.img-box:hover .play-duration{
  opacity: 1;
  transition: opacity 0.8s;
}

.img-box img{
  filter: brightness(1);
  transition: filter .8s;
}
.img-box:hover img{
  filter: brightness(0.3);
}

.centered-axis-x {
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
}
.play-duration{
  position: absolute;
  color: white;
  font-weight:bolder;
  font-size:1.5em;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px 7px;
}
.title{
  text-align: left;
  font-weight: 700;
  padding: 10px 0px 5px 4px;
}
.title:first-letter {
    text-transform:capitalize;
}
.duration-container{
  justify-content: flex-end;
}
.tot-duration{
  // margin-right: 68px;
}
.btn-playlist{
  box-sizing: border-box;
  border:1px solid #C14B85;
  padding: 1%;
  border-radius: 20px;
  &:hover{
  border:0;
  background-color:#C14B85;
  color: white;
  border:1px solid #C14B85;
  }
}
.playlist-btn-container{
  margin-top: 25px;
  padding: 0px;
}
@media only screen and (max-width: 1600px)  {
  .play-duration{
    position: absolute;
    color: white;
    font-weight:bolder;
    font-size:1.25em;
  }
}

@media only screen and (max-width: 765px)  {
  .playlist-btn-container{
    padding: 0px 68px;
  }
}

@media only screen and (max-width: 575px)  {
  .tot-duration{
    font-size:11px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .duration-container{
    justify-content: center;
    margin-right: 0px;
  }


}
